# laravelのディレクトリパス
LARAVEL_DIRECTORY=

# docker-composeの再起動ポリシー(always, unless-stopped, on-failure, no)
DOCKER_RESTART=
DOCKER_DISABLE_AUTORUN=

# データベースのパスワード
POSTGRES_PASSWORD=

# PGADMINのイメージライブラリ
PGADMIN_IMAGE_LIBRAY=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=